html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(13, 68, 64);
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: white;
  width: 55%;
  font-size: 2rem;
  text-align: center;
}

#status {
  text-align: right;
  color: rgb(177, 170, 170);
  font-size: 10px;
  font-weight: bold;
  padding: 10px 20px 0 0;
}

img {
  border-radius: 50%;
  max-width: 45%;
  border: rgb(68, 200, 68) 4px solid;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  padding: 8px 0;
}

#occupation {
  background-color: lightgray;
  padding: 16px 0;
}

#brand {
  display: none;
}

#offer {
  padding: 16px 0;
}

#contact {
  display: flex;
}

#contact>p {
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact>p:first-child {
  background-color: rgb(74, 164, 74);
}

#contact>p:last-child {
  background-color: rgb(56, 150, 56);
}

@media only screen and (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "status name"
      "img occupation"
      "img brand"
      "contact offer";
    text-align: left;
    width: 550px;
  }

  #status {
    text-align: left;
    padding: 10px 0 0 20px;
  }

  img {
    grid-area: img;
    margin: 0 auto;
    min-width: 50%;
  }

  #name {
    padding-top: 10px;
    padding-left: 20px;
    background-color: lightgray;
  }

  #brand {
    display: inline;
    padding-left: 20px;
    background-color: lightgray;
  }

  #contact {
    grid-area: contact;
    background-color: lightgray;
  }

  #occupation {
    padding-left: 20px;
    background-color: lightgray;
  }

  #brand > p {
    border-left: 3px solid rgb(56, 150, 56);
    padding-left: 20px;
    padding: 0 20px 0 10px;
    font-size: 15px;
    color: gray;
    background-color: lightgray;
  }

  #offer {
    font-size: 12px;
    padding: 10px auto;
    padding-left: 20px;
    background-color: lightgray;
  }

}